## Identitas Diri
Nama : R.Muhammad Azmi Herdi Shofiyullah

NIM : 2041720079

Kelas / Absen : TI-3A / 21

# KUIS 2 Pembelajaran Mesin

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatn tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka â€”> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut.
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [18]:
#import fungsi yang diperlukan
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

#Membaca data dari file excel
df = pd.read_excel('data/dataset_quiz.xlsx')

df.head(5)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [19]:
#Membuat copy data di variabel lain
df_copy = df.copy()
#melakukan drop dari atribut yang memiliki nilai kosong
df_copy = df_copy.drop('id_anggota5', axis=1)
df_copy.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [20]:
#Menghapus missing value yang ada di dalam tabel
df_copy = df_copy.dropna()

In [21]:
#Melakukan cek apakah masih terdapat value yang kosong
df_copy.isnull().sum()

id_ketua              0
id_anggota1           0
id_anggota2           0
id_anggota3           0
id_anggota4           0
keterlibatan_vltr     0
jml_vltr_terlibat     0
tahun                 0
skema                 0
luaran_hki            0
jenis_luaran_hki      0
potensi_hki           0
luaran_lain           0
jenis_luaran_lain     0
status_luaran_lain    0
dtype: int64

In [22]:
# Melakukan encoder dari data yang berbasis kata menjadi angka
labelencoder=LabelEncoder()
for column in df_copy.columns:
    df_copy[column] = labelencoder.fit_transform(df_copy[column])

#Melakukan pengecekan apakah data alfabet sudah diubah menjadi angka
df_copy.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,3,6,3,14,4,0,0,0,1,1,1,1,0,3,1
1,4,4,11,6,29,0,0,0,1,1,1,1,0,3,1
2,1,14,15,33,23,0,0,0,1,1,1,1,0,3,1
3,19,10,13,26,18,0,0,0,1,1,1,1,0,3,1
4,16,16,2,1,12,0,0,0,1,1,1,1,0,3,1

In [23]:
#Mengecek isi dari atribut keterlibatan_vltr untuk menentukan apakah atribut ini adalah label (clue berada di soal no 4)
print(df['keterlibatan_vltr'].value_counts())
print('\n')

TIDAK    45
YA       40
Name: keterlibatan_vltr, dtype: int64

## Menentukan Label
Menurut informasi yang didapatkan pada soal 4 dimana diwajibkannya atribut keterlibatan volunteer maka saya berkesimpulan bahwa atribut keterlibatan volunteer adalah label yang akan digunakan. Selain itu dengan melakukan pengecekan apa saja isi dari atribut keterlibatan_vltr hanya memiliki 2 hasil maka memperkuat kesimpulan saya bahwa keterlibatan_vltr adalah label yang akan digunakan.

In [24]:
#Melakukan seleksi data
X = df_copy.iloc[:,6:]
y = df_copy.iloc[:,5]

X.head()

,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,0,0,1,1,1,1,0,3,1
1,0,0,1,1,1,1,0,3,1
2,0,0,1,1,1,1,0,3,1
3,0,0,1,1,1,1,0,3,1
4,0,0,1,1,1,1,0,3,1

In [25]:
# import Split data
from sklearn.model_selection import train_test_split

# Split data training dan dan lainnya
# data lainnya, akan kita split lagi menjadi validasi dan testing.
df_train, df_unseen = train_test_split(df_copy, test_size=0.2, random_state=0)

# Split lagi antara validasi dan testing
df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0)

# Cek masing-masing ukuran data

print(f'Jumlah data asli: {df.shape[0]}')
print(f'Jumlah data train: {df_train.shape[0]}')
print(f'Jumlah data validasi: {df_val.shape[0]}')
print(f'Jumlah data test: {df_test.shape[0]}')

# Cek rasio tiap label
print('=========')
print(f'Jumlah label data asli:\n{df_copy.keterlibatan_vltr.value_counts()}')
print(f'Jumlah label data train:\n{df_train.keterlibatan_vltr.value_counts()}')
print(f'Jumlah label data validasi:\n{df_val.keterlibatan_vltr.value_counts()}')
print(f'Jumlah label data test:\n{df_test.keterlibatan_vltr.value_counts()}')

Jumlah data asli: 85
Jumlah data train: 52
Jumlah data validasi: 7
Jumlah data test: 7
=========
Jumlah label data asli:
0    36
1    30
Name: keterlibatan_vltr, dtype: int64
Jumlah label data train:
0    29
1    23
Name: keterlibatan_vltr, dtype: int64
Jumlah label data validasi:
1    4
0    3
Name: keterlibatan_vltr, dtype: int64
Jumlah label data test:
0    4
1    3
Name: keterlibatan_vltr, dtype: int64

In [26]:
#Melakukan split train
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [27]:
from sklearn.tree import DecisionTreeClassifier
# Instansiasi Decision Tree Classifier
dt = DecisionTreeClassifier(random_state=1)

# Sesuaikan dt ke set training
dt.fit(X_train, y_train)

DecisionTreeClassifier(random_state=1)

In [28]:
from sklearn.metrics import accuracy_score

# Memprediksi test set labels
y_pred = dt.predict(X_test)

#  menghitung set accuracy
acc = accuracy_score(y_test, y_pred)
print(f"Test set accuracy: {acc}")

Test set accuracy: 1.0

In [29]:
# Memanggil fungsi DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier

# Instansiasi dt_entropy, set 'entropy' sebagai kriteria informasi
dt_entropy = DecisionTreeClassifier(max_depth=8, criterion='entropy', random_state=1)

# Fit dt_entropy kedalam training set
dt_entropy.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=8, random_state=1)

In [30]:
# Instansiasi dt_gini, set 'gini' sebagai kriteria informasi
dt_gini = DecisionTreeClassifier(max_depth=8, criterion='gini', random_state=1)

# Fit dt_gini ke training set
dt_gini.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=8, random_state=1)

In [31]:
#memanggil fungsi Accuracy Score
from sklearn.metrics import accuracy_score

# menggunakan dt_entropy untuk memprediksi test set labels
y_full_pred_entropy = dt_entropy.predict(X_test)
y_full_pred_gini = dt_gini.predict(X_test)

# mengevaluasi accuracy_entropy
accuracy_entropy = accuracy_score(y_test, y_full_pred_entropy)
accuracy_gini = accuracy_score(y_test, y_full_pred_gini)

# Print accuracy_entropy
print("Accuracy achieved by using entropy: ", accuracy_entropy)

# Print accuracy_gini
print("Accuracy achieved by using gini: ", accuracy_gini)

Accuracy achieved by using entropy:  1.0
Accuracy achieved by using gini:  1.0

## Naive Bayes

In [32]:
#Memanggil fungsi Multinomial Naive Bayes 
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

# Inisiasi MultinomialNB
mnb = MultinomialNB()

# Fit model
mnb.fit(X_train, y_train)

# Prediksi dengan data training
y_pred_train = mnb.predict(X_train)

# Evaluasi akurasi data training
acc_train = accuracy_score(y_train, y_pred_train)

# Prediksi dengan data training
y_pred_test = mnb.predict(X_test)

# Evaluasi akurasi data training
acc_test = accuracy_score(y_test, y_pred_test)

# Print hasil evaluasi
print(f'Hasil akurasi data train: {acc_train}')
print(f'Hasil akurasi data test: {acc_test}')

Hasil akurasi data train: 1.0
Hasil akurasi data test: 1.0

## Hyperparameter

In [33]:
#Memanggil fungsi Repeated K Fold
from sklearn.model_selection import RepeatedKFold

# instansiasi cv dengan menggunakan ReapetedKFold
cv = RepeatedKFold(n_splits=4, n_repeats=3, random_state=42)

In [34]:
#import fungsi DT dan Grid Search
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

# inisiasi model
dt = DecisionTreeClassifier()

# Definisikan hyperparameter yang akan digunakan
# Menggunakan 2 kriteria yang sebelumnya telah digunakan ('entropy' dan 'gini' pada DT)
params = {
    'criterion': ['gini', 'entropy'],
    'max_depth': list(range(5,11))
}

# inisiasi grid berdasarkan nilai repeated k-fold dan hyperparameter
grid = GridSearchCV(dt, param_grid=params, cv=cv)

# Fit / latih berdasarkan grid
# Menghitung waktu komputasi dengan %timeit
%timeit grid.fit(X, y)

# Evaluasi dengan score
score = grid.score(X,y)

# Cetak hasil evaluasi dan konfigurasi terbaik
print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {grid.best_params_}')

896 ms Â± 124 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'criterion': 'gini', 'max_depth': 5}

## Random Search

In [37]:
# import random search
from sklearn.model_selection import RandomizedSearchCV

# instansiasi clv dengan random search
clf = RandomizedSearchCV(dt, param_distributions=params, cv=cv)

# Fit / latih berdasarkan grid
# Menghitung waktu komputasi dengan %timeit
%timeit grid.fit(X, y)

# Fit dengan menggunakan random search
search = clf.fit(X, y)

# Cari nilai akurasi dengan menggunakan score
nilai = clf.score(X,y)

#tampilkan hasil akurasi dan konfigurasi terbaik
print(f'Hasil evaluasi: {nilai}')
print(f'Konfigurasi hyperparameter: {search.best_params_}')

898 ms Â± 166 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'max_depth': 8, 'criterion': 'gini'}